#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

#reset-button, #play-button, #continent-select {
	float: left;
	margin-right:10px;
	margin-top: 15px;
}

#continent-select {
	width: 150px;
}

.slider-div{
	float: left;
	width: 180px;
	margin-right: 10px;
}



#slider, #slider2 { margin-right: 10px; }

